CREATE DATABASE [Data] ON  PRIMARY 
( NAME = N'DataRecover', FILENAME = N'F:\sqlexample\MSSQL10.SQL_L\MSSQL\DATA\Data.mdf' , SIZE = 3072KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DataRecover_log', FILENAME = N'F:\sqlexample\MSSQL10.SQL_L\MSSQL\DATA\Data_log.ldf' , SIZE = 1024KB , FILEGROWTH = 10%)
GO
USE [DataRecover]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [Data] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
